
.thisform{
    width: 30%;
    display: block;
    margin: 5% auto;
    background-image: url(/img/lumitar-A4FJfFBEKts-unsplash.jpg);
    
}

.input{
    border: solid 0.5px #aaaaaa;
    height: 2.5rem;
    padding: 0.5rem;
    width: 85%;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}

.icon-quill{
    border: solid #aaaaaa 0.5px;
    padding: 0.4rem;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 20px;
    border-radius: 40%;
    font-size: 1.5rem;    
}

.icon-quill:hover{
    background-color: rgb(149, 240, 192);
    padding: 0.6rem;
    
}

#submitbutton{
    height: 40px;
    width: 250px;
}

#submitbutton:hover{
    background-color: rgb(133, 5, 5);
}

#submitbutton:active{
    background-color: rgb(83, 0, 179);
}

.container{
    position: relative;

    #editfield{
        position: absolute;
        display: none;
        top:40%;
        left: 25%;
        z-index: 2;
        padding: 3rem;
        background: #ffffff;
        border: black solid 1px;
        border-radius: 5px;
        width: 50%;  
        
        #editing{
            width: 75%;
            border-radius: 10px;
            border: black 1px solid;
            padding: 0.3rem;
        }

        #edited{
            border: none;
            background-color: rgb(89, 0, 255);
            color: white;
            width: 20%;
            margin-left: 1rem;
            border-radius: 30px;
            padding:0.3rem;
        }

        #edited:hover{
            background-color: pink;
        }

        #edited:active{
            background-color: blue;
        }
    }

    #confirm{
        position: absolute;
        display: none;
        top:40%;
        left: 25%;
        z-index: 2;
        padding: 3rem;
        background: #ffffff;
        border: black solid 1px;
        border-radius: 5px;
        width: 50%;  
        top:50%;
        left: 25%;
        z-index: 2;
        padding: 3rem;
        background: #ffffff;
        border: black solid 1px;
        border-radius: 5px;
        width: 50%;  
    }
}